.make-bold{
  font-weight: bold !important;
}

.cust-nav{
  color: rgb(255, 255, 255) !important;
}

.space-for-nav{
  margin-top: 9vh;
}

.partition{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 15px;
  
}

.left{
  width: 20%;
  min-height: 30vh;
}

.center{
  width: 55%;
  min-height: 10vh;
  border: 1px solid red;
}

.right{
  width: 20%;
  border: 1px solid green;
  min-height: 35vh;
}

.select-category{
  margin : 10px 0;
  text-align: center;
}

.alerts{
  display: flex;
}

.cards{
  margin: 25px 0px;
}

.w-90{
  width: 90%;
  margin: 0 auto;
}

.card-body-1{
  display: flex;
  /* border: 3px solid red; */
  flex-direction: row;
  /* background-color: rgb(242, 244, 245); */
  /* color: black; */
}

.image-right{
  width: 20%;
  padding-top: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.w-80{
  width: 70%;
  margin: 0 18px;
  text-align: center;
}

.mt-10{
  margin-top: 10px;
}

.carousel{
  background-color: black;
  height: 350px;
  overflow: hidden;
}

.img-block{
  width: 60%;
  margin: 0 auto;
}

.img-block img{
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.pagination{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.placeholder{
  width: 100%;
  height: 20px;
  background-color: rgb(0, 0, 0);
  color: black;
}

.modal-img{
  width: 70%;
  margin: 10px auto;
}
.modal-img img {
  width: 100%;
}